body{
  margin: 0px;
  font-family: Lucida Console;
}
h1.logo{
  text-align: left;
  padding:0px;
}
li.logo{
  float: left;
  margin: 0px 0px;
}
li a.logo{
  display: block;
  color: #E3F6F5;
  text-align: center;
  padding: 15.5px;
  text-decoration: none;
}
li a:hover.logo{
  Background-color: #BAE8E8;
  color:#2C698D;
}
ul.navi {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2C698D;
  position:relative;
  transition: all 0.3s ease-out;
}
ul.navi.scroll-top {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2C698D;
  position: fixed;
  top: 0;
  width: 100%;
}
li.navi {
  float: left;   
}
li a.navi {
  display: block;
  color: #E3F6F5;
  text-align: center;
  padding: 20px;
  padding-top: 46px;
  padding-bottom: 44px;
  text-decoration: none;
}
li a:hover.navi {
  Background-color: #BAE8E8;
  color:#2C698D;
}
li.funcs{
  float:right;
}
li a.funcs{
  display: block;
  color: #E3F6F5;
  text-align: center;
  padding: 20px;
  padding-top: 46px;
  padding-bottom: 44px;
  text-decoration: none;
}
li a:hover.funcs{
  Background-color: #BAE8E8;
  color:#2C698D;
}
div.tag{
  background-color: #BAE8E8;
  color: #272643;
  padding: 15.5px;
}
h1.tag{
  text-align: center;
}
p.tag{
  text-align: center;
}
h2.studylink{
  text-align: center;
  Background-color: #2C698D;
  color:#E3F6F5;
  padding:10px;
}
a.studylink{
  text-decoration: none;
  
}
div.what{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  background-color:#FFFFFF ;
}
div.why{
  background-color: #E3F6F5;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10%;
  text-align: right;
}
h1.who{
  text-align:center;
}
div.who{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#FFFFFF ;
}
ul.who{
  list-style: none;
  padding: 30px;
}
li.who{
  padding: 20px;
}