body{
  margin: 0px;
  font-family: Lucida Console;
}
h1.logo{
  text-align: left;
}
li.logo{
  float: left;
  margin: 0px 0px;
}
li a.logo{
  display: block;
  color: #E3F6F5;
  text-align: center;
  padding: 15.5px;
  text-decoration: none;
  cursor: pointer;
}
li a:hover.logo{
  Background-color: #BAE8E8;
  color:#2C698D;
}
ul.navi {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2C698D;
  position:relative;
  transition: all 0.3s ease-out;
  
}
ul.navi.scroll-top {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2C698D;
  position: fixed;
  top: 0;
  width: 100%;
  
}
li.navi {
  float: left;   
}
li a.navi {
  display: block;
  color: #E3F6F5;
  text-align: center;
  padding: 20px;
  padding-top: 46px;
  padding-bottom: 44px;
  text-decoration: none;
  cursor: pointer;
}
li a:hover.navi {
  Background-color: #BAE8E8;
  color:#2C698D;
}
li.funcs{
  float:right;
}
li a.funcs{
  display: block;
  color: #E3F6F5;
  text-align: center;
  padding: 20px;
  padding-top: 46px;
  padding-bottom: 44px;
  text-decoration: none;
 
}
li a:hover.funcs{
  Background-color: #BAE8E8;
  color:#2C698D;
}
div.tag{
  background-color: #BAE8E8;
  color: #272643;
  padding: 15.5px;
  padding-top:125px;
}
h1.tag{
  text-align: center;
}
p.tag{
  text-align: center;
}
h2.studylink{
  text-align: center;
  Background-color: #2C698D;
  color:#E3F6F5;
  padding:5px;
}
a.studylink{
  background-color: #2C698D;
  border: none;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 45%;
  cursor: pointer;
}
div.what{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  background-color:#FFFFFF ;
}
p.whatp{
  margin-right:10%;

}
div.why{
  background-color: #E3F6F5;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10%;
  text-align: right;
}
h1.start{
  text-align: center;
  margin-left:10%;
  padding-top:10px;
}
div.how{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#FFFFFF ;
}
h1.how{
  text-align: center;
}
h2.how{
  padding:15px;
  padding-left:10%;
}
h1.who{
  text-align:center;
}
div.who{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#E3F6F5 ;
}
ul.who{
  list-style: none;
}
li.who{
  padding-left: 8%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapsible {
  background-color: #E3F6F5;
  cursor: pointer;
  width: 33%;
  border: none;
  text-align: center;
  display:inline-block;
  margin: 4px 33%;
  font-family: Lucida Console;
}
.active, .collapsible:hover {
  background-color: #2C698D;
  color:#E3F6F5;
}
.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 0px;
  
}

.active:after {
  content: "\2212";
}

.content {
  margin: 4px 33%;
  padding: 0px 18px;
  display: block-inline;
  max-width: 31.15%;
  max-height: 0;
  border: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #E3F6F5;
}
img.image1{
  float: right;
  margin-right:2.2%;
  padding-top: 10px;
}
img.image2{
  align-items: left;
  margin-left:1.6%;
  padding-top: 10px;
}